[bucket "client.boringssl"]
  builder = linux
  builder = linux32
  builder = linux32_rel
  builder = linux_clang_rel
  builder = linux_noasm_asan
  builder = linux_nothreads
  builder = linux_rel
  builder = linux_shared
  builder = linux_small

  builder = linux_fips
  builder = linux_fips_rel
  builder = linux_fips_clang
  builder = linux_fips_clang_rel
  builder = linux_fips_noasm_asan

  builder = mac
  builder = mac_rel
  builder = mac_small

  builder = win32
  builder = win32_rel
  builder = win32_small
  builder = win64
  builder = win64_rel
  builder = win64_small
  builder = win32_vs2017_compile
  builder = win64_vs2017_compile
  builder = win32_clang_vs2017_compile
  builder = win64_clang_vs2017_compile

  builder = android_arm_compile
  builder = android_aarch64_compile

  builder = ios_compile
  builder = ios64_compile

  builder = docs
